<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Draw Slider</title>
</head>
<body>
    <button class="btn btn_togglefullscreen"></button>
    <div class="slider">
        <div class="slider__item" style="background-image: url(<%=require('./images/img1.jpg')%>)">
            <canvas></canvas>
        </div>
        <div class="slider__item" style="background-image: url(<%=require('./images/img2.jpg')%>)">
            <canvas></canvas>
        </div>
        <div class="slider__item" style="background-image: url(<%=require('./images/img3.jpg')%>)">
            <canvas></canvas>
        </div>
    </div>
</body>
</html>